/* Normalize */

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}


/* Chatroom regions */

#chatroom {
    background-color: #edeff0;
    height: 100vh;
    display: grid;
    grid-template-columns: 12rem auto;
    grid-template-rows: 6rem auto 50px;
    grid-template-areas:
        "nav-area header-area"
        "nav-area content-area"
        "nav-area footer-area";
}

#room-nav {
    grid-area: nav-area;
    background-color: #eb1700;
    color: white;
    text-align: center;
}

#room-nav .active {
    background-color: #751520;
}

#room-header {
    grid-area: header-area;
    background-color: white;
    text-align: center;
}

#room-content {
    grid-area: content-area;
    background-color: #edeff0;
}

#room-content-input {
    grid-area: footer-area;
    background-color: white;
}
