/* Normalize */

html {
    box-sizing: border-box;
    font-size: 16px;
}

#login {
    background-position: 50% 50%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    width: 100%;
    height: auto;
}


/* Common Elements */

li, p {
    padding: 0.25rem 1rem;
}

input, button {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
}

input {
    border-radius: 0.25rem;
    border: 1px solid silver;
}

button,
.clickable {
    cursor: pointer;
}

.clickable {
    border: 1px solid transparent;
}

.clickable:hover {
    border: 1px solid white;
}

.hide-element {
    border: 0;
    clip-path: inset(1px, 1px, 1px, 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


/* Login Layout */

#login {
    /* background-color: white; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login form {
    height: 8rem;
    width: 25rem;
}

#login form input {
    width: 100%;
}

#login form p.noerrors {
    color: transparent;
}

#login form button {
    width: 100%;
}

#login button {
    background-color: #eb1700;
    color: white;
    border-radius: 0.25rem;
    border-color: transparent;
}


/* Chatroom Layout */

#chatroom {
    padding: 0;
    margin: 0;
    background-color: #edeff0;
    height: 100vh;
    display: grid;
    grid-template-columns: 16rem auto;
    grid-template-rows: 7rem calc(100vh - 12rem) 5rem;
    grid-template-areas:
        "nav-area header-area"
        "nav-area content-area"
        "nav-area footer-area";
}

    /* nav */

    #room-nav {
        grid-area: nav-area;
        background-color: #eb1700;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: white;
    }

    #room-nav > * {
        margin: 1rem 0;
    }

    #room-nav #logo {
        width: 60%;
        align-self: center;
    }

    #room-nav #me .name {
        font-size: 1.25rem;
        font-weight: 800;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    #room-nav #me .session {
        font-size: 0.85rem;
    }

    #room-nav .active {
        background-color: #751520;
    }

    /* header */

    #room-header {
        grid-area: header-area;
        background-color: white;
        padding: 1rem;
        text-align: center;
        border-bottom: 1px solid silver;
    }

    #room-header .active {
        color: #eb1700;
    }

    /* content */

    #room-content {
        grid-area: content-area;
        background-color: #edeff0;
        overflow-y: scroll;
        border-bottom: 1px solid silver;
    }

    #message-list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    #message-list li {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 0.25rem;
    }

    #message-list li.mine {
        justify-content: flex-end;
    }

    #message-list .message {
        background-color: white;
        padding: 0.25rem 0.75rem;
        border-radius: 2rem;
    }

    #message-list li.mine .message {
        background-color: #eb1700;
        color: white;
    }

    #message-list .name {
        font-size: 0.85rem;
    }

    /* footer */

    #room-content-input {
        grid-area: footer-area;
        background-color: white;
        max-height: 5rem;
        padding: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    #room-content-input input {
        flex: 1 1 90%;
        margin: 0.25rem;
    }

    #room-content-input button {
        flex: 0 0 10%;
        margin: 0.25rem;
    }

    #send-button,
    #logout-button {
        background-color: transparent;
        color: blue;
        border: 2px solid transparent;
        border-radius: 1rem;
        font-weight: 600;
        line-height: 1;
    }

    #send-button:hover {
        background-color: #edeff0;
        border: 2px solid blue;
    }

    #logout-button {
        color: black;
        position: fixed;
        top: 0.5rem;
        right: 0.5rem;
    }

    #logout-button:hover {
        background-color: #edeff0;
        border: 2px solid black;
    }


/* Miscellaneous */

.status {
    padding: 0.5rem;
}

.error {
    font-size: 0.75rem;
    color: #eb1700;
}


@media only screen
    and (max-width: 900px) {

/* Chatroom Layout */

#chatroom {
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 4rem 4rem calc(100vh - 12rem) 4rem;
    grid-template-areas:
        "nav-area"
        "header-area"
        "content-area"
        "footer-area";
}

/* nav & header common  */

#room-nav,
#room-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#room-nav *,
#room-content-input > button,
p {
    margin: 0;
    padding: 0;
}

/* nav */

#room-nav {
    border-bottom: 1px solid silver;
}

#room-nav > * {
    padding: 0.5rem;
}

#room-nav #logo {
    flex: 0 0 4rem;
}

#room-nav #me {
    flex: 0 0 14rem;
}

#room-nav #room-list {
    padding: 0;
    align-self: stretch;
    flex: 1 1 auto;
    font-size: 1rem;
    line-height: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#room-nav #room-list li {
    height: 100%;
    width: 25%;
    padding: 0.25rem;
    display: inline-block;
    border-left: 1px solid white;
}

#room-nav #room-list li:last-child {
    border-right: 1px solid white;
}

/* header */

#room-header #name {
    font-size: 1.5rem;
    min-width: 10rem;
    text-align: left;
}

}